* text=auto !eol
/AUTHORS -text
AimmsOSIHeaderFiles/IAimmsOSI.h -text
AimmsOSIHeaderFiles/aimmsosi_compat.h -text
CbcAimms/AUTHORS -text
CbcAimms/INSTALL -text
CbcAimms/MSVisualStudio/v8/libAimmsCbc.sln -text
CbcAimms/MSVisualStudio/v8/libAimmsCbc.vcproj -text
CbcAimms/src/AimmsOSI-SolverCbcImpl.h -text
CbcAimms/src/cbc_event.cpp -text
CbcAimms/src/cbc_event.h -text
CbcAimms/src/cbc_interface.cpp -text
CbcAimms/src/cbc_interface.h -text
CbcAimms/src/cbc_options.cpp -text
CbcAimms/src/cbc_options.h -text
/INSTALL -text
IpoptAimms/AUTHORS -text
IpoptAimms/INSTALL -text
IpoptAimms/MSVisualStudio/v8/libAimmsIpopt.sln -text
IpoptAimms/MSVisualStudio/v8/libAimmsIpopt.vcproj -text
IpoptAimms/src/AimmsIpoptConfig.h -text
IpoptAimms/src/AimmsIpoptOptions.cpp -text
IpoptAimms/src/AimmsIpoptOptions.h -text
IpoptAimms/src/AimmsOSI-SolverIpoptImpl.h -text
IpoptAimms/src/IpoptProblemInstance.cpp -text
IpoptAimms/src/IpoptProblemInstance.hpp -text
IpoptAimms/src/libIpopt.cpp -text
IpoptAimms/src/libIpopt.h -text
/LICENSE -text
/README -text
